body {
  background-image: url(../img/background2.svg);
  background-color: #029ecd;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-size: 72px;
  color: white;
}

#content {
  text-align: left;
  margin: 90px 130px;
}

.monte-img {
  display:block;
  margin-left: auto;
  float: right;
  /* margin-right: auto; */
  width: 4  0%;
}

p {
  font-size: 18px;
  color: white;
}

input [type=text] {
  width: 20%;
  padding: 15px 10px;
  box-sizing: border-box;
}

#output{
  padding: 10px 0px;
}

#reload {
  display: none;
}
