body {
  background-image: url(../img/background2.svg);
  background-color: #029ecd;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;

}

h1 {
  font-size: 55px;
  color: white;
}

#content {
  text-align: left;
  margin: 40px 120px;
}

#monte-img {
  position: relative;
  display:block;
  float: right;
  margin-left: 500px;
  top: 15px;
}

p {
  font-size: 24px;
  color: white;
}

input [type=text], select{
  width: 50%;
  height: 28px;
  padding: 12px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#reload {
  display: none;
}

#output{
  padding: 25px 15px;
  text-align: center;
  background: white;
  width: 25vw;
  height: 5vw;
  display: inline-block;
  position: relative;
  font-size: 24px;
  float: right;
  margin-right: 200px;
  border-radius: 25px;
}

#output:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    border: 32px solid transparent;
    border-top-color: white;
    border-bottom: 0;
    border-right: 0;
    margin-left: 100px;
    margin-bottom: -32px;
  }

  a {
    font-size: 15px;
  }

button, input {
border-radius: 12px;
border-color: #13204d;
transition-duration: 0.2s;
}

button, input[type=submit]:hover {
  background-color: #13204d;
  color: white;
}

.font-effect-neon {
animation: flicker 1.5s infinite alternate;
color: #FFF5EE;
text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #4682b4,
0 0 0.6em #029ecd, 0 0 0.8em #add8e6, 0 0 1em #3580d5, 0 0 1.2em #2250e2;
}

/* Flickering animation */
@keyframes flicker {

0%, 18%, 22%, 25%, 53%, 57%, 100% {
text-shadow:
  0 2 4px #ADD8E6,
  0 4 11px #ADD8E6,
  0 6 19px #ADD8E6,
  0 8 40px #4682B4,
  0 10 80px #4682B4,
  0 12 90px #4682B4,
  0 14 100px #4682B4,
  0 16 150px #4682B4;
}

20%, 24%, 55% {
      text-shadow: none;
  }
}
